<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(200) %>
       <% if avatar_url %>
      <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
      </div>
       <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.username %>'s To Do List</h2>
        <small>
          <%= @user.email %>
        </small>
      </div>
    </div>
  </div>
</div>
  <div class="container task">
    <div class="col-md-12">
      <h1>Tasks </h1>
      <%= render partial: 'items/form', locals: {item: Item.new} %>
    </div>
  </div>
  <div class="container list">
    <div class="col-md-12">
      <h2>Things To Do</h2>
      <div class="js-items">
        <%= render current_user.items %>
      </div>
      <br />
    </div>
  </div>
