<div class="user-page">
  <section class="user-heading">
     <% avatar_url = @user.avatar_url(100) %>
     <% if avatar_url %>
    <div class="avatar-img">
      <%= image_tag avatar_url, class: 'media-object' %>
    </div>
     <% end %>
    <div>
      <h1>Hello <span style="color:#00ffcb;"><%= @user.username %></span></h1>
      <h2>Here's Your To Do List</h2>
    </div>
  </section>

  <section class="container task">
    <div class="col-md-12">
    <h1><i class="fa fa-check-square-o" aria-hidden="true"></i>Tasks</h1>
      <%= render partial: 'items/form', locals: {item: Item.new} %>
    </div>
  </section>

  <section class="container list">
    <h1><i class="fa fa-tasks" aria-hidden="true"></i>Things To Do (<%= current_user.items.count%>)</h1>
    <div class="js-items">
      <%= render current_user.items %>
    </div>
  </section>
</div>
