<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
      <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
      </div>
       <% end %>
    <div class="media-body">
      <h2 class="media-heading"><%= @user.username %></h2>
      <small>
          <%= @user.email %>
       </small>
    </div>
  <div class="row">
    <div class="col-md-8">
      <%= render partial: 'items/form', locals: {item: Item.new} %>
      <h2>Items</h2>
      <%= render current_user.items %>
      <br />
    </div>
  </div>
