<!DOCTYPE html>
<html>
<head>
  <title>Bloccitoff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container navbar">
    <ol class="nav nav-tabs">
       <%= link_to "Bloccitoff", welcome_index_path %>
       <div class="user">
       <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %> -
       <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link' %> -
       <% if user_signed_in? %>
          <strong><%= link_to current_user.username, user_path(current_user) %></strong> |
           <%= image_tag current_user.avatar_url(35), class: "gravatar" %>
       <% end %>
       </div>
    </ol>
  </div>
  <div class="container home">
    <h1 class="title">Bloccitoff</h1>
    <% if user_signed_in? %>
      Signed in as: <strong><%= link_to current_user.username, user_path(current_user) %></strong> |
        <%= image_tag current_user.avatar_url(48), class: "gravatar" %>
          <div class="pull-right">
             <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </div>
        <% else %>

    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash.now[:alert] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash.now[:alert] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
